html,
body {
    @include vendor_transition(top $cubic-animation);
    padding: 0;
    margin: 0;
    //    height: 100%;
    overflow-x: hidden;
    background-color: $light-grey;
    
    &::selection {
        background: $orange;
    }
}

html {
    font-size: 62.5%;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.clearfix {
    display: inline-block;
}


/* start commented backslash hack \*/

* html .clearfix {
    height: 1%;
}

.clearfix {
    display: block;
}


/* close commented backslash hack */

input:not([type]):focus:not([readonly]),
input[type=text]:focus:not([readonly]),
input[type=password]:focus:not([readonly]),
input[type=email]:focus:not([readonly]),
input[type=url]:focus:not([readonly]),
input[type=time]:focus:not([readonly]),
input[type=date]:focus:not([readonly]),
input[type=datetime]:focus:not([readonly]),
input[type=datetime-local]:focus:not([readonly]),
input[type=tel]:focus:not([readonly]),
input[type=number]:focus:not([readonly]),
input[type=search]:focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid $dark-grey;
    box-shadow: 0 1px 0 0 $dark-grey;
    @include rem(font-size, 15px);
}

a {
    color: $default-anchor-color;
    &:hover,
    &:focus {
        color: $anchor-hover-color;
    }
}

h1 {
    font-size: $h1-media-font-size;
    color: $h1-default-color;
    
    @media only screen and (min-width: $screen-phablet){
        font-size: $h1-font-size;
    }
}

h2 {
    font-size: $h2-media-font-size;
    color: $h2-default-color;
    
    @media only screen and (min-width: $screen-phablet){
        font-size: $h2-font-size;
    }
}

h3 {
    font-size: $h3-font-size;
    color: h3-default-color;
}

h4 {
    font-family: inherit;
    font-size: $h4-font-size;
    color: $h4-default-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto';
}

header {
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 1000;
}

img {
    background-color: #333;
    width: 100%;
}

.arrow {
    display: block;
    width: 335px;
    height: 50px;
    
    .arrow-down {
        border: 2px solid $white;
        border-radius: 50%;
        display: block;
        background: url(../svg/next.svg);
        background-repeat: no-repeat;
        background-size: 50%;
        background-position: center;
        width: 50px;
        height: 50px;
        position: absolute;
        left: 140px;
        
        @media only screen and (min-width: $screen-phablet) {
            width: 65px;
            height: 65px;
        }
    }
    
    .arrow-down {
        @include vendor_transform(rotate(90deg));
    }
    
    
}

.scroll-top {
    position: fixed;
    right: 20px;
    bottom: 85px;
    
    .arrow-up {
        @include vendor_transform(rotate(-90deg));
        
        border: 2px solid $white;
        border-radius: 50%;
        display: block;
        background: url(../svg/next.svg) $dark-grey;
        background-repeat: no-repeat;
        background-size: 50%;
        background-position: center;
        width: 50px;
        height: 50px;
        
        @media only screen and (min-width: $screen-phablet) {
            width: 65px;
            height: 65px;
        }
    }
}

label {
    @include rem(font-size, 10px);
    color: $label-color;
}

p {
    @include rem(font-size, 15px);
    text-align: justify;
}

.form-row {
    @include rem(margin-top, 10px);
}

.submit-btn {
    @include rem(font-size, 15px);
    @include rem(margin-top, 30px);
    
    width: 60%;
    height: 50px;
    
    i {
        vertical-align: middle;
    }
    
    @media only screen and (min-width: $screen-desktop) {
        width: 150px;
    }
}

.required {
    &::before {
        content: "*";
        color: $red;
    }
}

.section-title {
    @include rem(font-size, 42px);
    @include rem(padding-bottom, 15px);
    
    border-bottom: 1px solid $light-grey;
}

.title {
    @include rem(font-size, 18px);
    @include rem(margin-bottom, 15px);
    color: $dark-grey;
    display: block;
}

#tc {
    overflow-y: auto;
    max-height: calc(80vh);
    
    li{
        @include rem(font-size, 15px);
        @include rem(margin-top, 10px);
    }
}