$white:#FFF;
$semi-transparent-nav-bg:rgba(3, 3, 3, 0.4);
$dark-grey:#424242;

$form-dropdown-color:$dark-grey;

$h1-font-size:52px;
$h1-default-color:#3e2723;
$h3-default-color:#333;

$default-anchor-color: #333;
$anchor-hover-color: #fa9000;


/**** Scrollspy Variables ****/
$scrollspy-background: rgba(3, 3, 3, 0.95);
$scrollspy-menu-item-color: $white;
$scrollspy-menu-item-font-size: 15px;
$scrollspy-active-border-color: $white;
$scrollspy-shadow-color: rgba(50, 50, 50, 0.45)