footer{
//    position: absolute;
//    bottom: 0;
//    width: 100%;
    .social{
        color: #FFF;
        font-size: 15px;
        border-radius: 50%;
        border:2px solid #FFF;
        width: 30px;
        height: 30px;
        display: inline-block;
        margin-right: 5px;

        i{
            padding-top: 6px;
        }
    }
}