.gallery, .attractions{
    @include rem(margin-top, 124px);
    @include rem(font-size,15px);
    
    overflow-y: auto;
    
    .galleryContainer{
        
        li{
            float: left;
            width: 33%;
            @include rem(margin-left,3px);
            @include rem(margin-top,10px);
            
            &:nth-child(3n-1){
                img{
                    @include rem(margin-top,5px);
                }
            }
            
            @media only screen and (max-width: 992px) {
                width: 100%;
                
                &:nth-child(3n-1){
                    img{
                        margin-top: 0;
                    }
                }
            }
        }
    }
}
 
.gallery, .article, .videos, .know-how, .attractions{
    @include rem(margin-right, 20px);
    @include rem(margin-left, 20px);
    margin-bottom: 0;
    
    h1{
        @include rem(padding, 10px);
        @include rem(font-size, 35px);
        background: #333;
        color: $white;
    }
    
    .icon{
        @include rem(font-size, 15px);
        @include rem(margin, 0 10px);
        
        vertical-align: middle;
    }
    
    .imgContainer{
        position: relative;
        height: 300px;
        overflow: hidden
    }
    
    .imgContainerLink{
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        transform: translate(-50%,-50%);
        left: 50%;
        top: 50%;
        border-radius: 8px;
        
        &::before{
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width:100%;
            height: 50%;
            z-index: 1;
            background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.86) 100%);
            background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.86) 100%);
            background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.86) 100%);
            
        }
        
        img{
            @include vendor_transition(transform .8s $cubic-animation);

            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            transform: translate(-50%,-50%);
            left: 50%;
            top: 50%;
        }

        &:hover{
            img{
                @include vendor_transform(translate3d(-50%,-50%,0) scale3d(1.5,1.5,1.5)); 
            }
        }
    }
    
    .details{
        position: absolute;
        width: 100%;
        height: 40px;
        bottom: 0;
        z-index: 10;
        @include rem(padding-left, 10px);
        @include rem(padding-top,10px);
        border-top:1px solid rgba(255,255,255,0.15);
    }
    
    .info{
        color: $white;
        display: block;
    }
}

.galleryContainer, .article-container,.videos, .know-how{
    width: 95%;
    margin: 0 auto;
}

.article, .videos, .know-how{
    .odd{
        float: left;
    }
    .even{
        float: right;
    }
    .card-panel{
        @include rem(padding-top, 20px);
        width: 100%;
        box-sizing: border-box;
        vertical-align: top;
        
        @media only screen and (min-width: $screen-desktop) {
            width: 48%;
        }
    }
    .article-title{
        
        a, span{
            display: block;
        }
        
        span{
            @include rem(font-size, 10px);
        }
    }
    
    .article-listing{
        @include rem(margin-top, 15px);
        
        li{
            @include rem(margin-bottom, 5px);
        }
        
        .article-link{
            display: block;
            .article-thumb{
                @include rem(margin-right, 10px);
                
                border-radius: 4px;
                display: inline-block;
                height: 70px;
                width: 70px;
                overflow: hidden;
                vertical-align: middle;
            }
            img{
                height: 100%;
                width: auto;
            }
        }
        
        .article-list-title{
            display: inline-block;
            vertical-align: middle;
        }
        
        .article-time{
            display: block;
        }
    }
}