@import "materialize";
@import "mixins/rem";
@import "mixins/vendor-prefix";
@import "variables";
@import "global";
@import "font";
@import "header";
@import "explorer";
@import "gallery";
@import "footer";
@import "form";

.content-white {
    background-color: $white;
    padding: 15px;
}

.wrapper {
    height: 100%;
}

.parallax-container {
    height: 100%;
}
