@import "materialize";
@import "mixins/rem";
@import "mixins/vendor-prefix";
@import "mixins/keyframe-animation";
@import "variables";
@import "global";
@import "font";
//@import "slick";
//@import "slick-theme";
@import "header";
@import "home";
@import "explorer";
@import "gallery";
@import "profile";
@import "attractions";
@import "footer";
@import "form";
@import "components/scrollSpy/main";
@import "components/tab/main";
@import "components/drawer/main";

.content-white {
    background-color: $white;
    padding: 15px;
}

.wrapper {
//    height: calc(95vh);
    margin-bottom: 0;
    position: relative;
//    min-height: 500px;
}

.parallax-container {
    height: 100%;
}
