.drawer {
    @include rem(padding-bottom, 20px);
    @include vendor_transition(top 800ms $cubic-animation);
    background: $white;
    position: fixed;
    width: 100%;
    top: -1500px;
    z-index: 1000;
    
    &.active {
        top: 0;
    }
    
    .close-btn {
        @include rem(margin-right, 20px);
        @include rem(font-size, 20px);
        
        display: block;
        float: right;
    }
}